In [317]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [318]:
df = pd.read_csv("deliveries.csv")

In [319]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [320]:
dp = pd.read_csv("matches.csv")

In [321]:
dp.head(2)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [322]:
dp.shape

(756, 18)

In [323]:
df.shape

(179078, 21)

In [324]:
total_runs = df.groupby(["match_id","inning"])["total_runs"].sum().reset_index()

In [325]:
total_runs.head(2)

   match_id  inning  total_runs
0         1       1         207
1         1       2         172

In [326]:
total_runs = total_runs[total_runs["inning"]==1]

In [327]:
total_runs

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [328]:
matches = dp.merge(total_runs[["match_id", "total_runs"]], left_on ="id", right_on ="match_id" )

In [329]:
matches.head(2)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184

In [330]:
matches["team1"].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [331]:
matches.shape

(756, 20)

In [332]:
teams = ['Sunrisers Hyderabad', 'Mumbai Indians', 
        'Royal Challengers Bangalore',
       'Kolkata Knight Riders',  'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals','Delhi Capitals']

In [333]:
matches["team1"] = matches["team1"].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches["team2"] = matches["team2"].str.replace('Delhi Daredevils', 'Delhi Capitals')

matches["team1"] = matches["team1"].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches["team2"] = matches["team2"].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

In [334]:
matches = matches[matches["team1"].isin(teams)]
matches = matches[matches["team2"].isin(teams)]

In [335]:
matches["team2"].unique()

array(['Royal Challengers Bangalore', 'Delhi Capitals', 'Mumbai Indians',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Rajasthan Royals', 'Chennai Super Kings'], dtype=object)

In [336]:
matches.shape

(641, 20)

In [337]:
matches= matches[matches["dl_applied"]==0]

In [338]:
matches.shape

(626, 20)

In [339]:
matches = matches[["match_id","city", "winner", "total_runs"]]

In [340]:
delivery = matches.merge(df, on ="match_id" )

In [341]:
delivery.head(2)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [342]:
delivery = delivery[delivery["inning"]==2]

In [343]:
delivery.shape

(72413, 24)

In [344]:
delivery.rename(columns = {"total_runs_x":"final_score"}, inplace = True)

In [345]:
delivery["present_score"] = delivery.groupby("match_id")["total_runs_y"].cumsum()

In [346]:
delivery.head()

,match_id,city,winner,final_score,inning,batting_team,bowling_team,over,ball,batsman,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,present_score
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,1,0,1,NaN,NaN,NaN,1
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,NaN,NaN,NaN,1
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,NaN,NaN,NaN,1
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,2,0,2,NaN,NaN,NaN,3
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,4,0,4,NaN,NaN,NaN,7

In [347]:
delivery["remaining_score"] = delivery["final_score"] - delivery["present_score"]

In [348]:
delivery["balls_remaining"] = 126 - (delivery["over"]*6 + delivery["ball"])

In [349]:
delivery.head()

,match_id,city,winner,final_score,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,present_score,remaining_score,balls_remaining
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,NaN,NaN,NaN,1,206,119
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,206,118
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,206,117
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,NaN,NaN,NaN,3,204,116
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,NaN,NaN,NaN,7,200,115

In [350]:
delivery["player_dismissed"]= delivery["player_dismissed"].fillna("0")
delivery["player_dismissed"]= delivery["player_dismissed"].apply(lambda x:x if x== "0" else "1")
delivery["player_dismissed"]= delivery["player_dismissed"].astype(int)
wickets = delivery.groupby("match_id")["player_dismissed"].cumsum().values
delivery["wickets_rem"]= 10-wickets

In [351]:
# current runrate = totalruns/overs

In [352]:
delivery["crr"] = (delivery["present_score"]*6)/( 120 - delivery["balls_remaining"])

In [353]:
delivery["rrr"] = (delivery["remaining_score"]*6)/ delivery["balls_remaining"]

In [354]:
delivery.shape

(72413, 30)

In [355]:
def result(row):
    return 1 if row["winner"] == row["batting_team"] else 0

In [356]:
delivery["result"] = delivery.apply(result, axis = 1)

In [357]:
delivery.shape

(72413, 31)

In [358]:
delivery = delivery[["batting_team", "bowling_team", "city","remaining_score", "balls_remaining", "wickets_rem", "final_score", "crr", "rrr", "result",   ]]

In [359]:
delivery = delivery.sample(delivery.shape[0])

In [360]:
delivery

,batting_team,bowling_team,city,remaining_score,balls_remaining,wickets_rem,final_score,crr,rrr,result
93679,Rajasthan Royals,Sunrisers Hyderabad,Ahmedabad,88,71,6,134,5.632653,7.436620,0
41792,Royal Challengers Bangalore,Delhi Daredevils,Delhi,87,40,7,184,7.275000,13.050000,0
87259,Kings XI Punjab,Chennai Super Kings,Abu Dhabi,94,50,7,205,9.514286,11.280000,1
102194,Rajasthan Royals,Delhi Daredevils,Delhi,31,17,5,184,8.912621,10.941176,1
111140,Mumbai Indians,Royal Challengers Bangalore,Mumbai,100,31,7,235,9.101124,19.354839,0
...,...,...,...,...,...,...,...,...,...,...
93391,Chennai Super Kings,Kings XI Punjab,Cuttack,226,113,9,231,4.285714,12.000000,0
25501,Delhi Daredevils,Chennai Super Kings,Johannesburg,84,55,7,163,7.292308,9.163636,0
72720,Mumbai Indians,Royal Challengers Bangalore,Bangalore,67,37,7,156,6.433735,10.864865,0
147588,Kolkata Knight Riders,Kings XI Punjab,Mohali,133,87,10,186,9.636364,9.172414,1
87044,Royal Challengers Bangalore,Delhi Daredevils,Sharjah,28,33,8,145,8.068966,5.090909,1

In [361]:
delivery.dropna(inplace = True)

In [362]:
delivery = delivery[delivery["balls_remaining"]!=0]

In [363]:
from sklearn.model_selection import train_test_split

In [364]:
X =delivery.iloc[: , :-1]
y = delivery.iloc[ :, -1]

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

In [365]:
X_train

,batting_team,bowling_team,city,remaining_score,balls_remaining,wickets_rem,final_score,crr,rrr
179,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,129,67,8,207,8.830189,11.552239
145853,Chennai Super Kings,Mumbai Indians,Chennai,114,77,7,159,6.279070,8.883117
83748,Kings XI Punjab,Delhi Daredevils,Delhi,57,70,7,120,7.560000,4.885714
12253,Kolkata Knight Riders,Kings XI Punjab,Chandigarh,77,29,5,178,6.659341,15.931034
10265,Kings XI Punjab,Delhi Daredevils,Chandigarh,81,64,7,158,8.250000,7.593750
...,...,...,...,...,...,...,...,...,...
132492,Kolkata Knight Riders,Rajasthan Royals,Kolkata,63,59,7,144,7.967213,6.406780
34457,Chennai Super Kings,Deccan Chargers,Chennai,186,114,10,190,4.000000,9.789474
71291,Mumbai Indians,Rajasthan Royals,Jaipur,11,20,10,162,9.060000,3.300000
142524,Sunrisers Hyderabad,Delhi Capitals,Hyderabad,55,22,6,164,6.673469,15.000000
37837,Kings XI Punjab,Rajasthan Royals,Chandigarh,142,96,9,183,10.250000,8.875000

In [366]:
delivery.isnull().sum()

batting_team       0
bowling_team       0
city               0
remaining_score    0
balls_remaining    0
wickets_rem        0
final_score        0
crr                0
rrr                0
result             0
dtype: int64

In [367]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [368]:
trf = ColumnTransformer([
    ("trf", OneHotEncoder(sparse_output=False, drop="first"), ["batting_team", "bowling_team", "city"])
], remainder="passthrough")

In [369]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [370]:
pipe = Pipeline([("trf1", trf),("trf2", LogisticRegression(solver = "liblinear"))] )

In [371]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('trf2', LogisticRegression(solver='liblinear'))])

In [372]:
X_test

,batting_team,bowling_team,city,remaining_score,balls_remaining,wickets_rem,final_score,crr,rrr
78760,Rajasthan Royals,Sunrisers Hyderabad,Jaipur,100,67,9,144,4.981132,8.955224
147134,Delhi Capitals,Chennai Super Kings,Chennai,120,73,6,186,8.425532,9.863014
137415,Kings XI Punjab,Mumbai Indians,Mohali,37,27,8,187,9.677419,8.222222
95346,Delhi Daredevils,Royal Challengers Bangalore,Bangalore,178,113,9,186,6.857143,9.451327
121408,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,139,77,10,208,9.627907,10.831169
...,...,...,...,...,...,...,...,...,...
110565,Kolkata Knight Riders,Kings XI Punjab,Kolkata,177,112,10,183,4.500000,9.482143
102846,Rajasthan Royals,Mumbai Indians,Ahmedabad,136,93,9,164,6.222222,8.774194
78541,Kolkata Knight Riders,Kings XI Punjab,Kolkata,50,44,7,149,7.815789,6.818182
57784,Mumbai Indians,Kolkata Knight Riders,Mumbai,126,109,10,147,11.454545,6.935780
85523,Sunrisers Hyderabad,Kolkata Knight Riders,Hyderabad,100,90,10,130,6.000000,6.666667

In [373]:
y_pred = pipe.predict(X_test)

In [374]:
from sklearn.metrics import accuracy_score

In [375]:
accuracy_score(y_test , y_pred)

0.8046113953325391

In [376]:
pipe.predict_proba(X_test)[11]

array([0.46182052, 0.53817948])

In [377]:

pipe

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('trf2', LogisticRegression(solver='liblinear'))])

In [378]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [379]:
delivery["city"].unique()

array(['Ahmedabad', 'Delhi', 'Abu Dhabi', 'Mumbai', 'Chennai',
       'Hyderabad', 'Jaipur', 'Kolkata', 'Nagpur', 'Bangalore',
       'Bengaluru', 'Chandigarh', 'Centurion', 'Visakhapatnam', 'Raipur',
       'Dharamsala', 'Mohali', 'Ranchi', 'Johannesburg', 'Cuttack',
       'East London', 'Durban', 'Pune', 'Indore', 'Cape Town',
       'Kimberley', 'Sharjah', 'Port Elizabeth', 'Bloemfontein'],
      dtype=object)

In [380]:
import pickle 
pickle.dump(pipe, open("pipe.pkl", "wb"))

In [381]:
print(pipe)

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('trf2', LogisticRegression(solver='liblinear'))])

In [382]:
print(X_train.isnull().sum())

batting_team       0
bowling_team       0
city               0
remaining_score    0
balls_remaining    0
wickets_rem        0
final_score        0
crr                0
rrr                0
dtype: int64